*~
bin
obj
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
Reports
build
test-results
*.pidb
*.usertasks
*.userprefs
*.orig
*.vssscc
*/*.Publish.xml
csx
*.ncrunchproject
*.ncrunchsolution
*.cache
TestResults
rcf
packages
